<section class="services pt-10 pb-16" id="services">
    <h2 class="text-grayColor lg:text-3xl text-xl text-center section-title">{{ settings.title }}</h2>
    <div class="max-w-6xl mx-auto lg:px-2 px-4">
        <div class="splide services-slider">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for item in settings.services %}
                        <li class="splide__slide">
                            <div class="flex lg:flex-row flex-col ltr:lg:flex-row-reverse h-full">
                                <div class="lg:basis-1/2">
                                    <img class="w-full h-full" src="{{ imageUrl(item.image) }}"alt="{{  item.title }}">
                                </div>
                                <div class="px-4 py-6 bg-whiteColor-400 lg:basis-1/2 flex flex-col justify-center gap-3 ltr:text-left">
                                    <h3 class="font-bold lg:text-2xl text-xl ltr:lg:text-xl ltr:font-medium">{{ item.title }}</h3>
                                    <p class="text-sm ltr:text-xs">{{ item.description }}</p>
                                    <a href="{{ item.url ? item.url : '/'}}" class="text-secondary underline">{{ item.urlTitle }}</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<script>
document.addEventListener('DOMContentLoaded', function() {
  new Splide(".services-slider", {
    type: 'slide',
    direction: 'rtl',
    perPage: 2,
    perMove: 2,
    autoplay: false,
    arrows: false,
    gap: '1em',
    pagination: true,
    breakpoints: {
      720: {
          perPage: 1,
          perMove: 1,
      }
    },
  }).mount();
});
</script>
{% schema %}
{
  "name": {
    "ar": "الخدمات",
    "en": "Services"
  },
  "icon": "fal fa-cabinet-filing",
  "display": true,
  "settings": {
    "title": {
      "type": "text",
      "label": {
        "ar": "العنوان",
        "en": "text"
      }
    },
    "services": {
      "type": "list",
      "noLabel": true,
      "maxItems": 20,
      "info": {
        "ar": "",
        "en": ""
      },
      "settings": {
        "image": {
          "type": "image",
          "label": {
            "ar": "الصورة",
            "en": "Image"
          },
          "info": {
            "ar": "ارفع صورة بحجم 750 * 750 ",
            "en": "This is an info text sample here"
          }
        },
        "title": {
            "type": "text",
            "label": {
                "ar": "العنوان",
                "en": "text"
            }
        },
        "description": {
        "type": "textarea",
        "label": {
            "ar": "النص",
            "en": "Text"
            }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "Link"
          }
        },
        "urlTitle": {
            "type": "text",
            "label": {
            "ar": "عنوان الرابط",
            "en": "Link title"
            }
        }
      }
    }
  }
}
{% endschema %}
