<section section-id="{{ sectionId }}" class="banners splide">
  <div class="splide__track">
    <ul class="splide__list">
      {% for slide in settings.slider %}
        <li class="splide__slide">
        <div class="flex flex-col">
          <a href="{{ slide.url ? slide.url : '/'}}">
            <img class="w-full h-full object-cover lg:block hidden" 
            src="{{ imageUrl(slide.desktop) }}" alt="{{ slide.title }}">
            <img class="w-full h-full object-cover lg:hidden block" 
            src="{{ imageUrl(slide.mobile) }}" alt="{{ slide.title }}">
          </a>
          <div class="bg-white h-48 flex flex-col items-center justify-center">
            <h2 class="lg:text-4xl text-2xl font-medium">{{slide.title}}</h2>
            <p class="uppercase ltr:tracking-wider lg:text-3xl text-xl mt-1">{{slide.subtitle}}</p>
            <a href="{{ slide.url ? slide.url : '/'}}" class="lg:text-xl text-lg mt-5 uppercase bg-primary text-white px-8 py-1.5 hover:bg-white hover:text-primary border border-primary transition duration-300 font-semibold">{{slide.urlTitle}}</a>
          </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<script>
document.addEventListener("DOMContentLoaded", function () {
  new Splide(".banners", {
    type: 'loop',
    direction: "rtl",
    perPage: 1,
    autoplay: true,
    pauseOnHover: false,
    arrows: false,
    pagination:true
  }).mount();
});
</script>


{% schema %}
{
  "name": {
    "ar": "شرائح الصور",
    "en": "Slider"
  },
  "icon": "fal fa-presentation",
  "display": true,
  "settings": {
    "slider": {
      "type": "list",
      "noLabel": true,
      "maxItems": 10,
      "settings_label":{
        "ar": "الصورة",
        "en": "Picture"
      },
      "settings": {
        "mobile": {
          "type": "image",
          "label": {
              "ar": "صورة الجوال",
              "en": "Image for mobile"
              },
              "info": {
                  "ar": "",
                  "en": ""
              }
          },
        "desktop": {
            "type": "image",
            "label": {
                "ar": "صورة سطح المكتب",
                "en": "Image for desktop"
            },
            "info": {
                "ar": "",
                "en": ""
            }
        },
        "title": {
          "type": "text",
          "label": {
            "ar": "العنوان",
            "en": "title"
          }
        },
        "subtitle": {
          "type": "text",
          "label": {
            "ar": "العنوان الفرعي",
            "en": "subtitle"
          }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "Link"
          }
        },
        "urlTitle": {
          "type": "text",
          "label": {
          "ar": "عنوان الرابط",
          "en": "Link title"
          }
        }
      }
    }
  }
}
{% endschema %}