<section section-id="{{ sectionId }}" class="banners splide">
  <div class="splide__track">
    <ul class="splide__list">
      {% for slide in settings.slider %}
        <li class="splide__slide">
          <a href="{{ slide.url ? slide.url : '/'}}">
            <img class="w-full h-full object-cover lg:block hidden" 
            src="{{ imageUrl(slide.desktop) }}" alt="{{ slide.title }}">
            <img class="w-full h-full object-cover lg:hidden block" 
            src="{{ imageUrl(slide.mobile) }}" alt="{{ slide.title }}">
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<script>
document.addEventListener("DOMContentLoaded", function () {
  new Splide(".banners", {
    type: 'loop',
    direction: "rtl",
    perPage: 1,
    autoplay: true,
    pauseOnHover: false,
    arrows: false,
    pagination:true
  }).mount();
});
</script>


{% schema %}
{
  "name": {
    "ar": "شرائح الصور",
    "en": "Slider"
  },
  "icon": "fal fa-presentation",
  "display": true,
  "settings": {
    "slider": {
      "type": "list",
      "noLabel": true,
      "maxItems": 4,
      "settings_label":{
        "ar": "الصورة",
        "en": "Picture"
      },
      "settings": {
        "mobile": {
          "type": "image",
          "label": {
              "ar": "صورة الجوال",
              "en": "Image for mobile"
              },
              "info": {
                  "ar": "",
                  "en": ""
              }
          },
        "desktop": {
            "type": "image",
            "label": {
                "ar": "صورة سطح المكتب",
                "en": "Image for desktop"
            },
            "info": {
                "ar": "",
                "en": ""
            }
        },
        "url": {
          "type": "url",
          "label": {
            "ar": "الرابط",
            "en": "Link"
          }
        }
      }
    }
  }
}
{% endschema %}