{% extends "layout.twig" %}
{% block title %} {{ locals.profile.title }} {% endblock %}
{% block header %} {{ include('header.twig') }} {% endblock %}
{% block main_content %}
    <section class="account account-profile">
        <div class="w-full border-y  bg-beige-300">
            <div class="p-4 min-h-[60px]">
                <h1 class="font-black text-black text-xl lg:text-2xl text-center">{{ locals.profile.title }}</h1>
            </div>
        </div>
        <div class="flex px-7 md:flex-row flex-col-reverse">
            <div class="flex-[3] py-7 pe-4" style="direction:rtl">
                {{ account_profile_template_content|raw }}
            </div>
            {% include 'profile-links.twig' with { 'active' : locals.profile.title } %}
        </div>
    </section>

    <style>
        .form-group {
            display: flex;
            flex-direction: column;
        }
        .form-group label {
            font-weight: bolder;
            color: #121212;
            font-size: 14.4px;
            margin-bottom: 5px;
        }
        .form-group input {
            border: 1px solid #ddd;
            margin-bottom: 15.5px;
            color: #333;
            background: #fff;
            box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
            font-size: 0.97em;
            height: 2.507em;
            padding: 0 0.75rem;
            width: 100%;
        }
        .form-group input:hover {
            box-shadow: inset 0 -1.8em 1em 0 transparent;
        }
        .form-group input:focus, .form-group input:active {
            outline: none;
            box-shadow: 0 0 5px #ccc;
        }
        .form-group input[disabled] {
            background: #ddd;
        }
        #col-save-button .btn.btn-primary {
            background: #242A5E;
            color: #fff;
            margin-inline-end: auto;
            padding: 0.2em 1.2em;
            font-size: 14px;
            font-weight: bold;
            max-height: 2.5em;
            margin-top: 30px;
            border-radius:4px
        }
        h2 {
            color: black !important;
            font-weight: bold;
            text-transform: uppercase;
            padding-bottom: 10px;
        }
        hr {
            border-color: #f1f1f1;
        }
        #btn_profile_delete_account span{
            font-size:14px
        }
        #btn_profile_delete_account {
            background: #dd4242;
            color: #fff;
            margin-inline-end: auto;
            padding: 0.2em 1.2em;
            font-size: 15.5px;
            font-weight: bold;
            max-height: 2.5em;
            margin-top: 15px;
            border-radius:4px
        }
    </style>
{% endblock %}

{% block footer %} {{ include('footer.twig') }} {% endblock %}