{% extends "layout.twig" %}

{% block title %} {{ locals.cart.title }} {% endblock %}
{% block header %} {{ include('header.twig') }} {% endblock %}
{% block main_content %}
<section class="lg:py-20 py-10 container px-4 lg:px-14 cart">
    <ul class="flex items-center gap-2 p-4 text-sm">
        <li><a href="/">{{ locals.home.title }}</a></li>|
        <li><a href="/products/">{{ locals.cart.title }}</a></li>
    </ul>
      <div class="max-w-7xl px-2 lg:px-0 mx-auto">
        <h2 class="text-primary-50 font-semibold text-2xl lg:text-3xl mb-2 {{ cart.products_count <= 0 ? 'hidden' : '' }}">{{ locals.cart.title }}</h2>
        <div class="cart__empty mt-5 {{ cart.products_count <= 0 ? 'flex flex-col justify-center items-center' : 'hidden'}}">
            <h1 class="cart__empty-text my-3 text-primary-50 text-xl">{{ locals.cart.empty_cart }}</h1>
            <a href="/" class="bg-primary px-6 py-2 rounded text-white hover:bg-primary-50 transition duration-300 cart__empty-btn mt-5">{{ locals.cart.back_to_store }}</a>
       </div>
        <div class="lg:pt-7 grid grid-cols-12 {{ cart.products_count <= 0 ? 'hidden' : '' }}">

            <div class="lg:col-span-5 col-span-12 pt-2.5 ltr:lg:pr-7 rtl:lg:pl-7 pb-7">
                <div class="border-b-2 border-b-zinc-300">
                    <p class="font-semibold pb-2">{{ locals.cart.summary }}</p>
                </div>
                <div class="mt-4">
                    <ul class="border-b-2 border-b-zinc-300">
                    {% for cartTotal in cart.totals %}
                        <li class="flex rtl:flex-row-reverse items-center justify-between py-3 border-b border-b-[#ececec] {{ cartTotal.code == 'total' ? 'cart__total-item--total' : 'cart__total-item'  }}">
                            <p class="font-bold text-sm text-black"> {{ cartTotal.value_string }} </p>
                            <p class="text-sm text-black"> {{ cartTotal.title }} </p>
                        </li>
                    {% endfor %}
                    </ul>
                    <div class="my-6 w-full">
                        <a href="{% if customer %}/checkout/choose-address-and-shipping{% else %}/auth/login?redirect_to=/checkout/choose-address-and-shipping{% endif %}"
                        class="w-full block bg-primary px-2 py-2.5 text-white hover:bg-primary-200 transition duration-300 ease-in-out text-center">
                            {{ locals.cart.checkout }}
                        </a>
                        <div>{{ template_for_cart_payments_widget }}</div>
                    </div>
                </div>
                <div class="border-b-2 border-b-beige-200">
                    <h3 class="font-semibold text-lg pb-2">
                        {{ locals.cart.coupon }}
                    </h3>
                </div>
                <div class="mt-4">
                    <form>
                        <input class="send-coupon border border-[#cbc9d1] mb-4 bg-white w-full text-gray-700 text-sm py-2 px-3" type="text" name="coupon" id="" placeholder="{{ locals.cart.coupon_code }}"/>
                        <button type="button" class="bg-[#373435] px-2 py-2.5 text-white w-full hover:bg-white hover:text-[#373435] border border-white hover:border-[#373435] transition duration-300 text-center flex justify-center items-center gap-1" onclick="sendCoupon()">
                        <img class="send-coupon-progress hidden" src="{{ asset_url }}spinner.gif" width="15" height="15"/>
                            {{ locals.cart.apply_coupon }}
                        </button>
                    </form>
                        <p id="coupon-message" class="text-right"></p>
                        {% if cart.coupon.message %}
                            <div class="flex items-center justify-between p-2.5 mt-2.5 rounded bg-beige-100" role="alert">
                                <a onclick="deleteCoupon()" style="color: inherit; cursor: pointer">
                                    <span class="icon-trash-alt"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="#EC5550" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.16998 14.83L14.83 9.17004" stroke="#EC5550" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.83 14.83L9.16998 9.17004" stroke="#EC5550" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg></span>
                                </a>
                                <img class="delete-coupon-progress hidden" src="{{ asset_url }}spinner.gif" width="15" height="15"/>
                                <span class="text-black text-sm mt-1" style="direction:rtl">{{ cart.coupon.message }}</span>
                            </div>
                        {% endif %}
                </div>
            </div>
            <div class="lg:col-span-7 col-span-12 ltr:lg:border-l rtl:lg:border-r rtl:lg:pr-7 lg:border-l-beige-200 pt-2.5 ltr:lg:pl-7 pb-7 -order-1 lg:order-1">
                {% for product in cart.products %}
                <div class="flex items-center justify-between border border-[#e1e1e1] mb-3 px-3.5 py-5 relative lg:gap-5 rtl:lg:flex-row-reverse ltr:lg:flex-row flex-col-reverse gap-2.5">
                   {# <div class="cart-product-delete absolute top-2 left-2">
                        <a onclick="cartProductRemove(this)" data-cart-product-id="{{ product.id }}" data-product-id="{{ product.product_id }}" data-template="template_for_cart_products_list" class="border-2 cursor-pointer border-red-500 rounded-full text-red-500 h-5 w-5 text-sm font-bold flex items-center justify-center mb-auto align-middle">×</a>
                    </div> #}
                    <div class="flex items-center gap-2 flex-grow w-full lg:justify-center justify-between">
                        <div class="flex items-center gap-1">
                            <p class="cart-product-total-before-price text-primary text-sm font-bold">{{ product.total_string }} {{ locals.cart.subtotal }}</p>
                            <div class="cart-product-quantity-dropdown form-group">
                                <select data-cart-product-id="{{ product.id }}" class="p-1 border border-[#e1e1e1]"
                                        data-product-id="{{ product.product_id }}"
                                        data-template="template_for_cart_products_list" onchange="cartProductQuantityChanged(event)">

                                    {% if product.original_product_quantity is null %}
                                        {% set maxQuantity = 100 %}
                                    {% else %}
                                        {% set maxQuantity = product.original_product_quantity %}
                                    {% endif %}

                                    {% for n in rangeN(0, maxQuantity) %}
                                        <option value="{{ n }}" {% if n == product.quantity %}selected{% endif %}>{{ n }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="flex flex-col items-center w-28 gap-1">
                            <button class="bg-[#c3c3c3] w-full p-0.5">{{ locals.cart.update }}</button>
                            <button class="bg-[#e6e6e6] w-full p-0.5" onclick="cartProductRemove(this)" data-cart-product-id="{{ product.id }}" data-product-id="{{ product.product_id }}" data-template="template_for_cart_products_list">{{ locals.cart.remove }}</button>
                        </div>
                    </div>
                    <div class="flex items-center gap-2 flex-grow w-full lg:justify-center justify-end rtl:flex-row-reverse">
                        <div class="cart-product-col-details flex-grow text-right max-w-[240px]">
                            <h1><a class="cart-product-image-link text-black lg:text-sm text-xs" href="/products/{{ product.product_id }}">{{ product.name }}</a></h1>
                            <p class="cart-product-total-before-price text-black text-xs text-right">{{ product.price_string }}</p>
                        </div>
                        
                        <div class="cart-product-col-img">
                            <a class="cart-product-image-link" href="/products/{{ product.product_id }}">
                                {% if product.images %}
                                    <img class="cart-product-image w-24 h-auto object-contain border border-[#e1e1e1] max-h-16" src="{{ product.images[0]['thumbs']['small'] }}" />
                                {% else %}
                                    <span class="cart-product-no-image"></span>
                                {% endif %}
                            </a>
                        </div>
                    </div>
                    {% if product.error_message %}
                        <div class="cart-product-error-messages">
                            <span class="message">{{ product.error_message | raw }}</span>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block footer_scripts %}

    {{ cart_view_scripts|raw }}

    <script>
    function sendCoupon() {
        if(!document.querySelector('.send-coupon-progress').classList.contains('hidden'))
            return;

        document.querySelector('.send-coupon-progress').classList.remove('hidden');
        zid.store.cart.redeemCoupon(document.querySelector('.send-coupon').value)
            .then(function (response) {
                if(response.status  === 'success'){
                    document.getElementById('coupon-message').innerText = '{{ locals.cart.sent_successfully }}';
                    document.getElementById('coupon-message').classList.add('text-green-500')
                    window.location.reload();
                }else{
                    document.getElementById('coupon-message').innerText = '{{ locals.cart.sorry }}';
                    document.getElementById('coupon-message').classList.add('text-red-500')
                }
                document.querySelector('.send-coupon-progress').classList.add('hidden');
            }).catch(function (err) {
                document.querySelector('.send-coupon-progress').classList.add('hidden');
            })
    }

    function deleteCoupon() {
        if(!document.querySelector('.delete-coupon-progress').classList.contains('hidden'))
            return;

        document.querySelector('.delete-coupon-progress').classList.remove('hidden');
        zid.store.cart.removeCoupon().then(function (response) {
            if(response.status  === 'success'){
                window.location.reload();
            }else{
                document.getElementById('coupon-message').innerText = '{{ locals.cart.sorry }}';
                document.getElementById('coupon-message').classList.add('text-red-500')
            }
            document.querySelector('.delete-coupon-progress').classList.add('hidden');
        })
    }
    function cartProductsHtmlChanged(html, cart) {
        window.location.reload();
        return;
        setCartBadge(cart.products_count)
        
        if (cart.products_count <= 0){
            document.querySelector('.cart__empty').classList.remove('hidden')
            document.querySelector('.cart__empty').classList.add('flex', 'flex-col', 'justify-center', 'items-center')
            document.querySelector('.cart.cart_page').classList.remove('flex')
            document.querySelector('.cart.cart_page').classList.add('hidden')
            updateCartProducts(cart, false);
            return;
        } else {
            document.querySelector('.cart__empty').style.display = 'none'
            document.querySelector('.cart.cart_page').style.display = 'flex'
        }
        document.querySelector('.template_for_cart_products_list').innerHTML = html;
        document.querySelectorAll('.icon-delete').forEach(function(elm) {
            elm.innerHTML = '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5 22 22 17.5 22 12C22 6.5 17.5 2 12 2C6.5 2 2 6.5 2 12C2 17.5 6.5 22 12 22Z" stroke="#EC5550" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.16998 14.83L14.83 9.17004" stroke="#EC5550" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M14.83 14.83L9.16998 9.17004" stroke="#EC5550" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>'
        })

        if (cart &&  cart.totals) {
            let strCartTotals = '';
            for (let i = 0; i < cart.totals.length; i++) {
                let cartTotal = cart.totals[i];

                let totalClass = 'cart__total-item';
                if (cartTotal.code === 'total') {
                    totalClass = 'cart__total-item--total';
                }
                if(i === cart.totals.length - 1) {
                    strCartTotals += `
                    <li class="${totalClass}">
                    <p>${cartTotal.title }</p>
                    <p>${cartTotal.value_string }</p>
                    </li>`
                } else {
                strCartTotals += `
                    <li class="${totalClass} cart__total-item">
                    <p>${cartTotal.title }</p>
                    <p>${cartTotal.value_string }</p>
                    </li>`

                }
            }
            document.querySelector('.cart_page .cart__total-list').innerHTML = strCartTotals;
        }
    }
    </script>
{% endblock %}
{% block footer %} {{ include('footer.twig') }} {% endblock %}