{% extends "layout.twig" %}

{% block title %} {{ category.name }} {% endblock %}

{% block header %} {{ include('header.twig') }} {% endblock %}

{% block main_content %}
    <ul class="flex items-center gap-2 py-4 px-8 text-sm max-sm:justify-center border-y border-y-[#f0f0f0] flex-wrap">
        <li><a href="/" class="capitalize">{{ locals.home.title }}</a></li>|
        {% if category.parent_category.parent_category %}
            <li><a href="{{ category.parent_category.parent_category.url }}" class="capitalize">{{ category.parent_category.parent_category.name }}</a></li>|
        {% endif %}

        {% if category.parent_category %}
            <li><a href="{{ category.parent_category.url }}" class="capitalize">{{ category.parent_category.name }}</a></li>|
        {% endif %}
        <li><a href="{{ categories.url }}" class="font-semibold capitalize">{{ category.name }}</a></li>    
    </ul>

    {% if 'brands' in category.url %}
        {% include 'brands-category.twig' with {'category' : category} %}
    {% else %}
    <section class="md:px-8 lg:px-14 px-4">
        <div class="max-w-5xl mx-auto">
            <div class="flex flex-col gap-3 justify-center items-center">
                    
                <h2 class="text-black font-semibold text-xl lg:text-2xl pt-4 pb-2">{{ category.name }}</h2>
                {% if 'DESCRIPTION' in category.description %}
                    {% if 'TITLE' in category.description %}
                        <div class="flex flex-col md:flex-row ltr:md:flex-row-reverse min-h-[200px] md:max-h-[250px]" x-data="{ parts: splitText(`{{ category.description | raw }}`) }">
                            <div class="basis-1/2 object-cover h-auto" x-html="parts[0]"></div>
                            <div class="basis-1/2 bg-whiteColor-700 md:px-10 md:py-0 p-6 flex flex-col gap-4 justify-center h-auto" x-html="parts.slice(1).join('')"></div>
                        </div>
                    {% else %}
                    
                        {% if 'SLIDER' in category.description %}

                            <div class="flex flex-col w-full md:gap-2 gap-4 md:flex-row ltr:md:flex-row-reverse min-h-[200px]" x-data="{ parts: splitText(`{{ category.description | raw }}`) }">
                                <div class="w-full splide" id="cat-parts">
                                    <div class="splide__track h-full">
                                        <ul class="splide__list h-full">
                                            <template x-for="(item, index) in parts[1]" :key="index">
                                                <li class="splide__slide" x-html="item.outerHTML"></li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                                <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        new Splide(document.getElementById('cat-parts'), {
                                            type   : 'slide',
                                            direction: 'rtl',
                                            perPage: 1,
                                            autoplay: true,
                                            perMove:1,
                                            arrows: false,
                                            gap:"1rem",
                                            pagination: true,
                                        }).mount();
                                    });
                                </script>

                            </div>
                        {% else %}
                        <div class="flex flex-col md:flex-row ltr:md:flex-row-reverse min-h-[200px] md:max-h-[250px]" x-data="{ parts: splitText(`{{ category.description | raw }}`) }">
                            <div class="basis-1/4 object-contain h-auto md:p-6 p-14"><img class="w-full h-full max-h[250px]" src="{{ category.image }}" alt="{{ category.name }}"></div>
                            <div class="basis-3/4 bg-whiteColor-700 md:px-10 md:py-0 p-4 flex flex-col gap-4 justify-center h-auto">
                                <p class="lg:text-2xl text-lg ltr:italic cat capitalize">{{ category.name }}</p>
                                <p class="md:text-base text-sm" x-html="parts[0]"></p>
                            </div>
                        </div>
                        {% endif %}

                    {% endif %}

                {% else %}
                    <p class="lg:text-base text-sm opacity-60 text-center max-w-3xl">{{ category.description }}</p>
                {% endif %}
                <script>
                    function splitText(text) {
                        const parts = text.split(/__(\w+)__/).filter(Boolean);
                        const result = [];
                        let imageUrls;
                        for (let i = 0; i < parts.length; i += 2) {
                            const key = parts[i];
                            const value = parts[i + 1];
                            switch (key) {
                                case 'TITLE':
                                    result.push(`<p class="lg:text-2xl text-lg capitalize">${value}</p>`);
                                    break;
                                case 'DESCRIPTION':
                                    result.push(`<p class="md:text-base text-sm">${value}</p>`);
                                    break;
                                case 'BANNER':
                                    result.unshift(`<img class="banner max-md:max-h-[220px] w-full h-full object-contain" src="${value}" alt="Banner">`);
                                    break;
                                case 'SLIDER':
                                    const imageUrls = value.trim().split('\n');
                                    const images = imageUrls.map(url => {
                                        const img = document.createElement('img');
                                        img.classList.add('slider-image', 'w-full', 'h-full', 'object-cover');
                                        img.src = url;
                                        return img;
                                    });
                                    result.push(images);
                                    break;
                                default:
                                    return                               
                            }
                        }
                        return result;
                    }
                </script>
            </div>

            {% include 'cat-slider.twig' with { 'cat' : category.sub_categories } %}

            <div class="py-10">
                {% include 'sort-filter.twig' with { 'products' : products } %}
                <div  div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-4 products-list">
                    {% for product in products.data %}
                        {% include 'product-card.twig' with {'product' : product, 'index': key} %}
                    {% endfor %}
                </div>
                {% include 'infinite-load.twig' with { 'products' : products, 'id': category.id } %}
            </div>
        </div>
    </section>
    {% endif %}

{% endblock %}
{% block footer %} {{ include('footer.twig') }} {% endblock %}
