<div class="product-attributes px-6 {% if session.lang.code == 'ar' %}rtl{% else %}ltr{% endif %}">
	<div class="product-attributes-light-box">
		<div class="products-filters-container mt-4">
			<div class="attribute">
				<div class="products-filters-attribute-form">
					<form method="get" id="attribute_form" action="{{ requestUri() }}">
						{% for key, input in requestInputs() %}
							{% if 'attribute_values' not in key %}
								<input type="hidden" name="{{ key }}" value="{{ input }}">
							{% endif %}
						{% endfor %}

						{# price #}
						<div class="attribute-group mb-6 py-3 border-b">
							<div class="attribute-header flex justify-between">
								<span class="attribute-name lg:text-base text-sm">{{locals.products.filter_price}}</span>
								<span class="attribute-arrow attribute-arrow-expand" onclick="toggleAttributeBodyOfId(this, '120')"><i class="icon-angle-down opacity-60"></i></span>
							</div>
							<div class="filter-content">
								<div class="attribute-body attribute-body-120">
									<div class="form-row flex gap-2">
										<div class="form-group col-md-6 ltr:text-left">
											<label><span class="lg:text-sm text-xs pb-1">{{locals.products.filter_price_from}}</span></label>
											<input name="from_price" min="0" class="form-control w-full max-w-full border border-black text-sm" placeholder="0 {{ session.currency.code }}" type="number">
										</div>
										<div class="form-group text-right col-md-6 ltr:text-left">
											<label><span class="lg:text-sm text-xs pb-1">{{locals.products.filter_price_to}}</span></label>
											<input name="to_price" min="0" class="form-control w-full max-w-full border border-black text-sm" placeholder="1000 {{ session.currency.code }}" type="number">
										</div>
									</div>
								</div>
							</div>
						</div>
						
						{% for  key1, attribute in products.filters.attributes %}
							<div class="attribute-group mb-6 py-3 border-b">
								<div class="attribute-header flex justify-between">
									<span class="attribute-name lg:text-base text-sm">{{ attribute.name }}</span>
									<span class="attribute-arrow attribute-arrow-expand" onclick="toggleAttributeBodyOfId(this, '{{ key1 }}')"><i class="icon-angle-down opacity-60"></i></span>
								</div>
								<div class="filter-content">
									<div class="attribute-body attribute-body-{{ key1 }}">
										{% for  key2, item in attribute.data %}
											<div class="filter-row flex items-center {% if key2 > 3 %}attribute-label-hidden{% endif %}" data-attribute-index="{{ key1 }}">
												<input class="checkbox {% if async %}checkbox-async{% endif %} {{ item.type == 'color' }}" type="checkbox" name="attribute_values[]" id="{{ item.value }}" value="{{ item.value }}" {% if item.value in requestGet('attribute_values') %} checked {% endif %}>
												<label class="flex items-center px-2 my-1.5 cursor-pointer max-h-[20vh] opacity-1 transition-all duration-500"  for="{{ item.value }}">
													<div class="attribute-label-extra">
														{% if item.type == 'icon' %}
															<img class="attribute-image" src="{{ imageUrl(item.type_value.full_size) }}">
														{% elseif item.type == 'color' %}
															<div style="background-color: {{ item.type_value }};" class="attribute-color"></div>
														{% endif %}
													</div>
													<div>
														<span class="lg:text-sm text-xs ">{{ item.value }}</span>
													</div>
												</label>
											</div>
										{% endfor %}
										{% if attribute.data | length > 5 %}
											<span onclick="showAttributesOfId(this, '{{ key1 }}')" class="text-sm cursor-pointer pt-1">+{{ locals.products.filter_show_more }}</span>
										{% endif %}

									</div>
								</div>
							</div>
						{% endfor %}
						
						
						<div class="attribute-footer">	
							<button type="submit" class="highlight-button btn btn-sm w-full py-2 border-2 border-primary bg-primary text-white text-center uppercase text-sm" data-abc="true">{{ locals.products.apply }}</button>
							<a href="{{ requestUri() }}" class="w-full py-2 border-2 border-primary text-primary text-center uppercase text-sm {{ requestInputs()|length == 0 ? 'opacity-50' : '' }}">{{ locals.products.clear }}</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<style>

	.products-filters-container {
		font-size: 1.167rem
	}

	.attribute {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
	}

	.attribute-footer {
		display: flex;
		justify-content: end;
		padding: 0.75rem 0;
	}

	.attribute-arrow {
		transition: all 0.5s;
		cursor: pointer;
	}

	.attribute-arrow-expand {transform: rotate(180deg)}
	.attribute-arrow-collapse {transform: rotate(0deg)}

	.attribute-body {
		transition: all 0.5s;
		max-height: 100%;
		opacity: 1;
		display: flex;
		flex-direction: column;
		
	}

	.attribute-body-collapse {

		max-height: 0;
		opacity: 0;
		z-index: -1;
	}

	.attribute-body.attribute-price-body {
		padding: 0 1.25rem;
	}

	.attribute-body input.form-control {
		padding: 5px;
	}

	.icon-control {
		margin-top: 6px;
		float: right;
		font-size: 80%;
	}

	.checkbox-btn {
		position: relative;
	}

	.checkbox-btn input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}

	.checkbox-btn input:checked ~ .btn {
		border-color: #000;
		background-color: #000;
		color: #fff;
	}

	.custom-control {
		position: relative;
		display: block;
		min-height: 1.5rem;
		padding-left: 1.5rem;
	}



	.attribute-label-hidden {
		max-height: 0;
		opacity: 0;
	}

	.attribute-image {
		width: auto;
		max-width: 50px;
		max-height: 24px;
	}

	.attribute-color {
		padding: 7px;
		border-radius: 50%;
		margin: 0 0.25rem 0 0;
	}

	.attribute-color, .attribute-image {
		margin: 0 0.25rem 0 0;
	}

	.rtl .attribute-color, .rtl .attribute-image {
		margin: 0 0 0 0.25rem;
	}

	.progress-image {
		display: inline-block;
		width: 40px;
		height: 40px;
		margin-left: 0;
		margin-right: 20px;
	}

	.filter-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}


	.filter-header a {
		color: #3167eb;
		padding-inline-start: 8px;
	}


	.product-attributes {
		min-width: 100%;
		width: 100%;
	}

	.product-attributes-light-box {
		height: auto;
		background-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: start;
	}

	.products-filters-container {
		height: auto;
		overflow-y: visible;
	}

	.product-attributes-light-box-top-section {
		height: auto;
	}
</style>
