<div class="lg:block hidden !bg-black">
    <ul class="main-nav flex flex-row flex-wrap justify-center max-w-7xl mx-auto relative gap-4">
        
        {% for menu in main_navigation_menu.items %}
            {% if menu.name not in ['جميع المنتجات', 'الصفحة الرئيسية', 'homepage', 'all products'] %}                
                <li class="group uppercase ">
                    <a href="{{ menu.url }}" class="block h-full text-white hover:!bg-white hover:!text-black !no-underline transition border-b-2 !border-b-black hover:!border-b-whiteColor-600 duration-300 !py-[0.5rem] !px-[0.75rem] font-semibold"><span class="ltr:text-sm">{{ menu.name }}</span></a>
                    {% if menu.items | length > 0 %}
                        <div class="absolute z-50 hidden top-full group-hover:lg:block w-full right-0">
                          <ul class="bg-white border p-4 w-full h-full sort {{ menu.items | length < 4 ? 'grid grid-cols-3' : 'flex flex-col flex-wrap max-h-[370px] gap-2.5'}}">
                            {% for subitem in menu.items %}
                              {% if subitem.items | length > 0 %}
                                <div>
                                    <li><a class="!text-black !no-underline font-bold" href="{{ subitem.url }}">{{ subitem.name }}</a></li>
                                    <ul class="sort">
                                        {% for sub in subitem.items %}
                                        <li><a class="!text-black !no-underline" href="{{ sub.url }}">{{ sub.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% else %}
                                <li><a class="!text-black !no-underline font-semibold" href="{{ subitem.url }}">{{ subitem.name }}</a></li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}

        <li class="group uppercase">
            <a href="/#services" class="block h-full text-white hover:!bg-white hover:!text-black !no-underline transition border-b-2 !border-b-black hover:!border-b-whiteColor-600 duration-300 !py-[0.5rem] !px-[0.75rem] font-semibold"><span class="ltr:text-sm">{{ locals.home.services }}</span></a>      
        </li>
    </ul>
</div>
