<div class="product p-2 h-full">
  <div class="flex flex-col justify-center gap-2 h-full">
    <a class="mb-auto h-full relative"  href="{{ product.html_url }}">
      <img class="w-full h-full m-auto object-cover"
      src="{{ imageUrl(product.images[0]['image']['large']) }}"
      alt="{{ product.name }}" loading="lazy"/>
      <div class="absolute uppercase top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-primary bg-[#ffffffab] py-1 font-medium text-center w-full {{ 'soon' in product.selected_product.keywords ? 'block' : 'hidden' }}">{{locals.product.soon}}</div>
    </a>
    
    {% set productNameParts = product.name|split('.') %}
    {% if  productNameParts|length > 1 %}
      <h3 class="md:text-lg text-base text-center font-bold">{{ productNameParts[0]}}</h3>
      <p class="text-center text-clip text-sm h-16 overflow-hidden">{{ productNameParts[1] }}</p>
    {% else %}
      <h3 class="text-center text-clip text-sm h-16 overflow-hidden">{{ product.name }}</h3>
    {% endif %}
    <p class="text-center font-bold {% if product.selected_product.keywords %} hidden {% endif %}">
      {{ product.formatted_sale_price is not null ? product.formatted_sale_price : product.formatted_price }}
    </p>
    <p class="text-red-700 text-center{% if product.selected_product.out_of_stock and not product.selected_product.keywords %} block {% endif %}">{{locals.product.out_of_stock}}</p>
  </div>
</div>