<div class="product p-2 h-full">
  <div class="flex flex-col justify-center gap-2 h-full">
    <a class="mb-auto h-full relative"  href="{{ product.html_url }}">
      <img class="w-full h-full m-auto object-contain"
      src="{{ imageUrl(product.images[0]['image']['large']) }}"
      alt="{{ product.name }}" loading="lazy"/>
      {% if product.has_variants %}
        <div class="{% if 'soon' in product.selected_product.keywords %} hidden {% endif %} absolute text-center bottom-0 text-xs w-full bg-white">{{ locals.product.options }}</div>
      {% endif %}
      {% if 'soon' in product.selected_product.keywords %}
        <div class="absolute uppercase top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-primary bg-[#ffffffab] py-0.5 text-xs font-medium text-center w-full ">{{locals.product.soon}}</div>
      {% endif %}
      {% if product.is_infinite == false and product.quantity <= 0 %}
        <div class="absolute uppercase top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-red-500 bg-[#ffffffab] py-0.5 text-xs font-medium text-center w-full {% if 'soon' in product.selected_product.keywords %} hidden {% endif %}">{{ locals.product.out_of_stock}}</div>
    {% endif %}
    </a>

    {% set found = false %}
    {% for cat in product.categories %}
      {% if not found and product.name|slice(0, cat.name|length) == cat.name %}
          <h1 class="md:text-lg text-base text-center font-bold">{{ product.name|slice(0, cat.name|length)|raw }}</h1>
          <p class="text-center text-clip text-sm h-16 overflow-hidden">
              {{ product.name|slice(cat.name|length)|trim }}
          </p>
          {% set found = true %}
      {% endif %}
      <p class="hidden">{{cat.name}}</p>
    {% endfor %}

    {% if not found %}
        <h3 class="text-center text-clip text-sm h-16 overflow-hidden">{{ product.name }}</h3>
    {% endif %}

    <p class="text-center font-bold {% if 'soon' in product.selected_product.keywords %} invisible {% endif %}">
      {{ product.formatted_sale_price is not null ? product.formatted_sale_price : product.formatted_price }}
    </p>
  </div>
</div>