<div class="product h-full">
  <div class="flex flex-col justify-center gap-2 h-full">
    <a class="mb-auto h-full relative"  href="{{ product.html_url }}">
      <img x-data="{ imageSrc: '{{ imageUrl(asset_url ~ 'product-img.svg') }}' }"
        x-intersect:load="imageSrc = '{{ imageUrl(product.images[0]['image']['large']) }}'" x-bind:src="imageSrc"
        class="w-full h-full m-auto object-contain" alt="{{ product.name }}"
        loading="lazy" src='{{ imageUrl(asset_url ~ 'product-img.svg') }}'/>

      {% if product.has_variants %}
        <div class="{% if 'soon' in product.selected_product.keywords %} hidden {% endif %} absolute text-center bottom-0 text-xs w-full bg-white">{{ locals.product.options }}</div>
      {% endif %}
      {% if 'soon' in product.selected_product.keywords %}
        <div class="absolute uppercase top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-primary bg-[#ffffffab] py-1 text-xs font-medium text-center w-full ">{{locals.product.soon}}</div>
      {% endif %}
      {% if product.is_infinite == false and product.quantity <= 0 %}
        <div class="absolute uppercase top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-primary bg-[#ffffffab] py-1 text-xs font-medium text-center w-full {% if 'soon' in product.selected_product.keywords %} hidden {% endif %}">{{ locals.product.out_of_stock}}</div>
      {% endif %}
    </a>

    {% set found = false %}
    {% if not found %}
      {% for cat in product.categories %}
      {% if cat.name|length > 0 %}
        {% if product.name|trim|slice(0, cat.name|trim|length) == cat.name|trim  %}
          <p class="hidden text-green">{{product.name|slice(0, cat.name|length)}}</p>
          <h1 class="md:text-lg text-base text-center font-bold">{{ product.name|trim|slice(0, cat.name|trim|length)|raw }}</h1>
          <p class="text-center text-clip text-sm h-16 overflow-hidden">
            {{ product.name|trim|slice(cat.name|trim|length)|raw }}
          </p>
          {% set found = true %}
        {% endif %}
        
      {% endif %}
      {% endfor %}
    {% endif %}

    {% if not found %}
      <h3 class="text-center text-clip text-sm h-16 overflow-hidden">{{ product.name|raw  }}</h3>
    {% endif %}

    <p class="text-center font-bold {% if 'soon' in product.selected_product.keywords %} invisible {% endif %}">
      {{ product.formatted_sale_price is not null ? product.formatted_sale_price : product.formatted_price }}
    </p>
  </div>
</div>