<!doctype html>
<html lang="{{ session.lang.code }}" dir="{{ session.lang.code == 'ar' ? 'rtl' : 'ltr' }}" class="scroll-smooth">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{ header_meta_tags | raw }}
    <title>{{ store.name }} | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href={{ store.icon }}>
    <link rel="stylesheet" href="{{ assetUrl('style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Work+Sans:wght@200;300;400;500;600;700&display=swap');
        @font-face {
            font-family: 'calibri';
            src: url('{{ asset_url ~ 'calibri-reqular.ttf' }}');
        }
        @font-face {
            font-family: 'calibri';
            src: url('{{ asset_url ~ 'calibri-bold.ttf' }}');
            font-weight: bold;
        }
        .app.rtl{
            font-family: 'calibri', sans-serif;
        }
        .app.ltr{
            font-family: 'Work Sans', sans-serif;
        }
        .app.ltr .cat{
            font-family: 'Libre Baskerville', sans-serif !important;
        }
        .w-font{
            font-family: 'Work Sans', sans-serif;
        }
        .splide__pagination {
            bottom: -25px;
        }
        .splide__pagination__page.is-active {
            opacity: 1;
            transform: none;
            background-color: #000;
        }
        .splide__pagination__page {
            content: "";
            color: #000;
            background-color: #000;
            border-radius: 0;
            width: 36px;
            height: 4px;
            opacity: .25;
            padding: 0;
        }
        .section-title:after {
            content: "";
            height: 2px;
            width: 75px;
            display: block;
            background-color: #afb1b0;
            margin: 5px auto 20px;
            font-weight:600
        }
    </style>
</head>

<body style="direction:{{ session.lang.code == 'ar' ? 'rtl' : 'ltr' }}">

    {% block top_scripts %}{% endblock %}
    <div class="app {{ session.lang.code == 'ar' ? 'rtl' : 'ltr' }}">
        {% block header %}{% endblock %}
        {% block main_content %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>

    {{ zidapi_script|raw }}
    {% block footer_scripts %}{% endblock %}
    <script defer src="{{ assetUrl('app.js') }}"></script>
    <script async src="https://tally.so/widgets/embed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
</body>

</html>